<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="color-scheme" content="dark light" />
<link rel="stylesheet" href="style.css" />
<title>{{title}}</title>
<meta name="description" content="{{description}}" />
<script defer src="script.js"></script>
<!-- generated at {{nowObj}} -->
</head>

{% macro printTalk(talk) %}
<li>
{%- if talk.title %}
    <div class="title">{{talk.title}}</div>
{%- endif %}
{%- if talk.speakerName %}
    <div class="speaker">
        <span class="icon"></span>
        {% if talk.speakerUrl %}<a href="{{talk.speakerUrl}}">{% endif %}
            <span class="name">{{talk.speakerName}}</span>
            {% if talk.speakerAffil %} | <span class="affil">{{talk.speakerAffil}}</span>{% endif %}
        {% if talk.speakerUrl %}</a>{% endif %}
    </div>
{%- endif %}
{%- if talk.time or talk.timeHuman %}
    <div class="time">
        <span class="icon"></span>
        {%- if talk.time %}
        <time datetime="{{talk.timeObj.isoformat(' ')}}">
            {{talk.timeHuman or talk.timeObj.strftime('%d %B %Y, %I:%M %p %Z')}}</time>
        {%- else %}
        <span>{{talk.timeHuman}}</span>
        {%- endif %}
    </div>
{%- endif %}
{%- if talk.videoUrl or talk.videoText %}
    <div class="live-video">
        <span class="icon"></span>
        {%- if talk.videoUrl %}
        <a href="{{talk.videoUrl}}">{{talk.videoText or talk.videoUrl}}</a>
        {%- else %}
        <span>{{talk.videoText}}</span>
        {%- endif %}
    </div>
{%- endif %}
{%- if talk.paperUrl %}
    <div class="paper">
        <span class="icon"></span>
        <a href="{{talk.paperUrl}}">{{talk.paperText or talk.paperUrl}}</a>
    </div>
{%- endif %}
{%- if talk.abstract %}
    <div class="abstract">
        <span class="leader">Abstract:</span>
        <span class="follower">
{{talk.abstract}}
        </span>
    </div>
{%- endif %}
</li>
{%- endmacro %}

<body>
<h1>{{title}}</h1>
<p>{{description}}</p>
{%- if futureEvents %}
<h2>Upcoming Seminars</h2>
<ol class="talk-list">
{%- for talk in talks %}
{%- if talk.timeObj >= nowObj %}
{{ printTalk(talk) }}
{%- endif %}
{%- endfor %}
</ol>
{%- endif %}
{%- if pastEvents %}
<h2>Past Seminars</h2>
<ol class="talk-list">
{%- for talk in talks %}
{%- if talk.timeObj < nowObj %}
{{ printTalk(talk) }}
{%- endif %}
{%- endfor %}
</ol>
{%- endif %}
<p class="credits">Website designed by
<a href="https://sharmaeklavya2.github.io">Eklavya Sharma</a>.</p>
</body>
</html>
